<!-- Formulaire de préinscription à entrer dans l’admin de Wordpress -->

<p class="notice">Les champs marqués d'une asterisque (*) sont obligatoires.</p>

<div class="field">
	<label>Votre Prénom (*)</label>[text* firstname]
</div>

<div class="field">
	<label>Votre nom (*)</label>[text* name] 
</div>

<div class="field">
	<label>Votre email (*)</label>[email* email] 
</div>

<div class="field">
	<label>Téléphone (*)</label>[tel* phone]
</div>

<div class="field">
	<label>Fonction (*)</label>[text* fonction]
</div>

<div class="field">
	<label>Adresse (*)</label>[text* adresse]
</div>

<div class="field">
	<label>Code Postal (*)</label>[text* cp]
</div>

<div class="field">
	<label>Ville (*)</label>[text* city]
</div>

<div class="field">
	<label>Nom du cabinet / Raison sociale (*)</label>[text* cabinet]
</div>

<div class="field">
	<label>Nombre de personnes  (*)</label>[number nombre-participants "1"]
</div>

<div class="field">
	<label>Vous êtes intéressé par :</label><span class="wpcf7-form-control-wrap">[checkboxthemes themes]</span>
</div>

<div class="field">
	<label>Dans :</label>[selectregions regions]

</div>

<div class="field">
	<label>Commentaires</label>[textarea commentaires] 
</div>

<p class="notice">[submit "Envoyer"]</p>