<!-- Formulaire d’inscription à entrer dans l’admin de Wordpress -->


[dynamichidden post-id "CF7_get_post_var key='ID'"]
[dynamichidden titre-formation "CF7_get_post_var key='title'"]
[dynamichidden region-formation "CF7_get_custom_field key='region'"]
[dynamichidden date-formation "CF7_get_custom_field key='date_de_formation'"]


<p class="notice">Les champs marqués d'une asterisque (*) sont obligatoires.</p>

<h2>Responsable de l’inscription</h2>

<div class="field">
	<label>Votre Prénom *</label>[text* firstname]
</div>

<div class="field">
	<label>Votre nom * </label>[text* name]
</div>

<div class="field">
	<label>Votre email * </label>[email* responsable-email]
</div>

<div class="field">
	<label>Téléphone *</label>[tel phone]
</div>

<div class="field">
	<label>Fonction * </label>[text* fonction]
</div>

<div class="field">
	<label>Adresse * </label>[text* adresse]
</div>

<div class="field">
	<label>Adresse 2 </label>[text adresse2]
</div>

<div class="field">
	<label>Code Postal * </label>[text* cp]
</div>

<div class="field">
	<label>Ville * </label>[text* city]
</div>

<div class="field">
	<label>Nom du cabinet / Raison sociale * </label>[text* cabinet]
</div>


<h2>Participant(s)</h2>

<div class="section">
	<div class="field">
		<label>Prénom du participant n°1 * </label>[text* prenom_participant1]
	</div>

	<div class="field">
		<label>Nom du participant n°1 * </label>[text* nom_participant1]
	</div>

	<div class="field">
		<label>Fonction du participant n°1 * </label>[text* fonction_participant1]
	</div>
</div>

<div class="section">
	<div class="field">
		<label>Prénom du participant n°2 </label>[text prenom_participant2]
	</div>

	<div class="field">
		<label>Nom du participant n°2 </label>[text nom_participant2]
	</div>

	<div class="field">
		<label>Fonction du participant n°2 </label>[text fonction_participant2]
	</div>
</div>

<div class="section">
	<div class="field">
		<label>Prénom du participant n°3 </label>[text prenom_participant3]
	</div>

	<div class="field">
		<label>Nom du participant n°3 </label>[text nom_participant3]
	</div>

	<div class="field">
		<label>Fonction du participant n°3 </label>[text fonction_participant3]
	</div>
</div>

<div class="field">
	<label>Commentaires </label>[textarea commentaires]
</div>

<p class="notice">[submit "Envoyer"]</p>