.calendrier {
	margin-bottom: 3rem;

	.post-content { padding: 0; }

	.year {
		text-align: center;
		background-color: $bleuFonce;
		color: $blanc;
		border-radius: .3rem;
		padding: .5rem;
	}
	
	ul + .year {
		margin-top: 8rem;
	}

	ul {
		padding: 0;

		li {
			margin: 2rem 0;
			list-style-type: none;
		}
	}
}