/* CONTACT FORM 
================= */

.btn-show-form {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5rem;
	border-left: none;
	border-right: none;
	background-color: transparent;
	color: white;
	margin-bottom: 2rem;
}

.contact-form-wrapper {
	margin-top: 5rem;
	max-width: 900px;
	width: 92%;
	border: 1px solid rgba($blanc, .4);
	background: rgba($bleuFonce, .5);
	padding: 1rem;
	@extend %clearfix;

	.wpcf7-form {
		.contact-name, .contact-email, .contact-message {
			padding: 2px 8px 6px; 
			border: none;
		}
		input, textarea {
			color: $noir;
		}
		h2 {
			color: $blanc;
			text-align: center;
			margin-bottom: 3rem;
		}
	}

	.wpcf7-list-item-label {
		color: $blanc;
		padding-left: .5rem;
	}

	h2.contact-title { display: none; }
	h2 {
		color: $blanc;
		margin-bottom: 3rem;
		clear: both;
	}
	.field + h2 { margin-top: 4rem; }
	
	
	.notice { display: block; color: $blanc; min-height: 50px; }

	.section { margin-bottom: 3rem; }
	
	.field + .field { margin-top: 1.5rem; }
	.field {
		min-height: 3rem;
		@extend %clearfix;

		label {
			color: $blanc;
			font-size: 1.5rem;
			height: auto;
			width: 33%;
			text-align: right;
			float: left;
			padding-right: 2rem;
		}
		.wpcf7-form-control-wrap {
			width: 67%;
			float: right;
			text-align: left;
		}

		@media (max-width: 720px) {
			label, .wpcf7-form-control-wrap {
				width: 100%;
				float: none;
				display: block;
				padding: 0;
				margin: 0;
				text-align: left;
				input, textarea { max-width: 100%; }
			}
		}
	}
	input { color: $blanc; }
}


div.wpcf7-mail-sent-ok {border: 1px solid $bleuClair;margin-top: 60px;background: rgba(255, 255, 255, .9);padding: 10px;}
div.wpcf7-validation-errors {border: 1px solid $bleuClair;margin-top: 60px;background: rgba(255, 255, 255, .9);padding: 10px;color: red;}
span.wpcf7-not-valid-tip {display: none;}