.newsletter-form {
	padding: 0 0 2rem 0;

	.widget_wysija_cont {
		display: block;
		margin: auto;
		height: 50px;
		width: 300px;

		input { display: inline-block; }
		.wysija-submit { margin-left: 2rem; }
		.formErrorContent { position: inherit; top: 0; left: 0; }
	}
}


footer {
	padding: 50px 0 0;
}
.copyright { background: #2c2c2c; font-weight: 400 !important; padding: 20px 0 12px;}



/*--- FOOTER 2 ___*/

.site-footer { 
	background-color: #0C6293;
	
	h1, h2, span, p, a { color: $blanc !important; }
}
.footer2,.footer2.list-contact-wrapper .contact-wrapper p { color: $blanc; }
.footer2.list-contact-wrapper .contact-wrapper .icon i {color: $blanc;}
.footer2.list-contact-wrapper .contact-wrapper .icon { border: 2px solid $blanc;}