/* NEW FORMATION HOMEPAGE
================= */
.line-wrapper .line-vertical {height: 25px;}
.timeline-wrapper {width: 70%;}
.timeline-wrapper .text-wrapper .detail {width: 70%;}

.detail {
	text-align: center;
	h2 {
		text-transform: uppercase;
		font-size: 2rem;
	}
	p { 
		font-size: 1.5rem;
		max-width: 750px;
		margin: auto;
	}
}



/* FORMATIONS HOMEPAGE
================= */


#portfolio_list {
	.item {
		a {
			.hover {
				background-color: rgba($noir, 0.8) !important;
				.loupe { top: 20% !important; }
				p {
					display: block;
					margin: auto;
					width: 100%;
					height: auto;
					text-align: center;
					position: absolute;
					top: 40%;
					color: white;
					font-size: 1.25rem;
					font-weight: 600;
					letter-spacing: .1em;
					text-transform: uppercase;
				}
			}
		}
	}
}

.portfolio-extrait-wrapper {
	border: 1px solid $grisClair;
	max-width: 900px;
	margin: auto;

	.port-thumb { padding: 0; }

	.post-excerpt { padding: 1rem; }

	.attachment-portfolio-large {
		display: block;
	 	width: auto;
	 	height: auto;
	 	max-width: 420px;
	 	max-height: 380px;
	}
	.btn-lire {
		@extend .btn; 
		border: 2px solid $bleuMarine;
		float: right;
		color: $bleuMarine !important;
		&:hover { 
			border-color: $bleuClair;
			color: $bleuClair !important;
		}
	}
}


/* FORMATEURS HOMEPAGE
================= */
.team-info {
	width: 130px;
	@media (max-width: 900px) { width: 90%; }
	.team-name { font-size: 1.5rem !important; }
}

/* NEXT FORMATIONS HOMEPAGE
================= */
	
.aq-block-agenda_block {
	margin-bottom: 2rem;
}

/* PRÉ-INSCRIPTION HOMEPAGE
================= */
#pre-inscription {
	.animation-wrapper {
		padding: 8px 0;

		.title, .sub-title {
			color: $blanc;
		}

		a.btn { 
			width: 80%;
			background: none;
			border: none;
			color: white !important;
			letter-spacing: .2em;
			border-top: 1px dashed #999;
			border-bottom: 1px dashed #888;
			padding: 8px 0;
		}
	}
} 


/* TEAM HOMEPAGE
================= */
/* if color backgound : .owl-theme .owl-controls .owl-page span {background: white;} */
.owl-theme .owl-controls { margin-top: 1rem; }