.main-header {
	
	background-image: url('images/background-image.jpg');
	min-height: 350px;

	@media (max-width: 800px) { display: none; }
	
	.main-logo {
		position: absolute;
		top: 4rem;
		left: 4rem;
		margin: 0;
	}
		
	.slogan {
		position: absolute;
		top: 10rem;
		left: 4rem;
		font-size: 2rem;
		font-weight: bold;
		color: black;
	}

	// Spécifique à main-header
	.search-formation {
		float: right;
		background-color: rgba($bleuFonce, 0.8);
		margin-right: 4rem;
		max-width: 320px;
	}
}

#header {
	margin: 0;
	
	.menu-top-wrapper, .logo-wrapper {
		display: inline-block !important;
		vertical-align: middle !important;
	}

	.logo-wrapper {
		left: 1%;
		img {
			height: 40px;
			margin-top: 1%;
			width: auto;
		}
	}

	@media (max-width: 992px) { #menu-lateral-menu { display: none; } }

	.main-menu, .lat-menu  {
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: right;
		li {
			display: inline-block;
			a { 
				padding: 1.5rem 1rem;
				font-size: 100%;
				display: block;
				text-transform: uppercase;
				transition: all 0.5s ease;
				font-family: Lato; 
				font-weight: 700;
				font-style: normal;
				color: $noir;
				&:hover, .active{ border-bottom-color: #ccc; }
			}
		}
	}
}
