.location {
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	strong {
		text-transform: none;
		font-size: 16px;
	}
}

.btn-inscription {
	background-color: $grisClair;
	color: $blanc;
	text-align: center;
	border-radius: .4rem;
	margin: auto;
	clear: both;
	box-shadow: 0 2px 12px 0px rgba(0, 0, 0, .3);
	a { color: $blanc; }
}

.formations-similaires {
	margin-top: 5rem;
	ul { padding: 0; }
	li { list-style-type: none; }
	li + li { margin-top: 1rem; }
}

.blog-header-wrapper {
	height: 120px;
	background-image: url(../../uploads/2014/09/background-image.jpg);
	background-color: #FAFAFA;
	background-position: top left;
	background-repeat: repeat;
	background-attachment: fixed;
}


.title-single {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.post-content {
	font-size: 14px;
	max-width: 850px;
	padding-left: 3rem;

	@media (max-width: 900px) { padding: 5rem 0 !important; }

	h2 { margin-bottom: 25px; }
	blockquote { border-left: 3px solid #3498d8; }
}

.post-tags a:hover { color: $bleuClair; }
.single-img { margin: 0 25px 10px 0;}
.img-top {
	border: 1px solid #eee;
	box-shadow: 0 20px 14px -12px rgba(0, 0, 0, .2);
}


/* --------- FORMATEUR -------- */
.aside-formateurs {
	text-align: center;
	min-height: 250px;
	background-color: $noirClair;
	padding: 2rem 0;
	color: $blanc;

	.formateur-wrapper + .formateur-wrapper { margin-top: 5rem; }

	.thumb-wrapper {
		border-radius: 50%;
		width: 125px;
		height: 125px;
		overflow: hidden;
		margin: auto;
	}

	.intervenant-presentation {
		max-width: 700px;
		margin: auto;
	}
}


/*------INSCRIPTION FORM------*/

.inscription-wrapper {
	background-color: $bleuSombre;
	padding: 2rem 0;
	margin: 0;
	transition: all 0.5s ease;

	h2, p, .sub-title, span {
		color: $blanc;
		text-align: center;
		width: 90%;
		margin: auto;
	}
}

/*------SEARCH FORMATION ------*/
.search-formation-wrapper {
	background-color: $noirClair;

	.search-formation {
		margin: auto;
		max-width: 900px;

		form { text-align: center; }

		h1 {
			max-width: 280px;
			margin: auto;
			margin-bottom: 5rem;
		}

		select {
			display: inline;
			width: auto;
			min-width: 200px;
			@media (max-width: 900px) { display: block; }
		}
		select + label {
			margin-left: 2rem;
			@media (max-width: 900px) { margin-left: 0; }
		}
	}
}


/*--------NEXT POST -------*/

.blog-page {
	margin-top: 75px !important;
	h2.title, .title-next { color: $noir; }
}
