.invisible { display: none !important; }

.text-center { text-align: center; }


/* ### Headlines */

.title {
	text-transform: uppercase;
	margin-bottom: 5rem;
}

.sub-title {
	text-align: center;
	font-size: 2rem;
}

.small-headline {
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: bold;
}

.visible { display: block !important; }

.heading-title-wrapper h2.title { margin: 2rem auto 0 auto; }

.heading-title-wrapper .line-title { width: 125px; margin: .5rem auto 2rem auto; color: $noir; }

/* ### Buttons */

.btn {
	display: block;
	margin: 2rem auto;
	color: $blanc !important;
	background-color: transparent;
	border-radius: 5rem;
	padding: 1rem 3rem;
	font-size: 1.5rem;
	border: 2px solid $blanc;
	font-weight: bold;
	&:hover {
		border-color: $bleuMarine;
		color: $bleuMarine !important;
	}
}
.btn-more {
	padding: 2px 0;
	border-top: 1px solid $noir;
	border-bottom: 1px solid $noir;
	width: 60%;
	margin: 30px auto 0;
	@media (max-width: 900px) { width: 90%; }

	.title-more {
		width: 85%;
		margin: 0 auto;
		padding: 8px 0 12px;
		border-top: 1px dotted $noir;
		border-bottom: 1px dotted $noir;
		color: $noir;
		text-align: center;
		font-size: 1.4em;
		font-weight: 800;
	}
}


.animation-wrapper {
	height: auto;
}

.side-buttons-home {
	width: 50%;
	padding: 1.5rem;
	float: left;
}

.formation-wrapper {
	background: rgba(255, 255, 255, .9);
	border: 1px solid #DDD;
	margin-top: 25px;
	min-height: 150px;
	height: auto;
	overflow: hidden;
	box-shadow: 0 8px 12px 1px rgba(0, 0, 0, .05);
	list-style-type: none;

	.title {
		color: #2C2C2C;
		font-size: 1.75rem;
		font-weight: 400;
		border-bottom: 1px solid #EEE;
		width: 90%;
		margin: 10px auto;
		padding-bottom: 8px;
		text-align: center;
	}

	.thumb img {
		max-width: 250px;
		max-height: 200px;
		min-height: 170px;
		height: auto;
		width: auto;
		float: left;
		margin-right: 2rem;

		@media (max-width: 800px) {
			max-width: 100%;
			max-height: none;
			float: none;
			margin-right: 0;
		}
	}

	p {
		font-size: 1.5rem;
	}
}

.search-formation {
	padding: 2rem;
	color: $blanc;

	h1 {
		text-transform: uppercase;
		text-align: center;
		font-size: 3rem;
		margin: 0 0 4rem 0;
		padding-bottom: 2rem;
		border-bottom: thin solid white;
		span { font-size: 130%; }
	}

	label {
		text-transform: uppercase;
		font-weight: bold;
	}

	select {
		display: block;
		width: 100%;
		margin: 0 auto 3rem auto;
		color: $noir;
	}
}

.portfolio-category {
	@media (max-width: 992px) { display: none; }
}

.text-slider { top:60% !important;}

.btn { white-space: normal; }
.btn.btn-oe {
	color: #484848 !important;
	font-size: 16px;
	border: 2px solid $grisClair;
	border-radius: 0;
	padding: 5px 25px;
	transition: all 0.5s ease;
	background: rgba(255, 255, 255, .4);
	max-width: 750px;
}
.btn-top {
	display: none;
	z-index: 9999999;
	position: fixed;
	right: 50px;
	bottom: 30px;
	opacity: .8;
	font-size: 3rem;

	img {
		width: 40px;
		height: auto;
	}

	a { color: $blanc; }

	&:hover {
		opacity: 1;
	}
}

/* Hack Bouton Viadeo */
.viadeo_widget_recommend .display-recommend-icon .recommend_btn {
	background: url('http://urbanem.fr/wp-content/themes/urbanem/images/viadeo-button.png') no-repeat !important;
	border: none !important;
	height: 30px !important;
	width: 30px !important;
	margin-left: 10px !important;
}
