/*
Theme Name:     URBANEM
Theme URI:
Description:    Thème enfant pour le thème OneEngine
Author:         Valérie Billoudet
Author URI:     http://idetop.com
Template:       oneengine
Version:        0.1.0
*/

/* Import du thème parent */
@import url("../oneengine/style.css");


/* RESET */
/* ===== */
ul { padding: 0; }
* { box-sizing: border-box; }

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
	padding-top: 5rem;
	@media (max-width: 800px) { padding-top: 2rem; }
}

/* ============ */
/*    COLORS    */
/* ============ */

$blanc:      white;
$noir:       black;
$bleuClair:  #26C7F9;
$bleuFonce:  #1D69A7;
$bleuMarine: #3E7CC1;
$bleuSombre: #0F4E80;
$noirClair:  #212121;
$grisClair:  #AFB6BB;

.white, a.white {color:white;}



/* ============ */
/* UI-OBJECTS */
/* ========== */
@import 'scss/ui-objects';



/* ============ */
/*    LAYOUT    */
/* ============ */

.content-container {
    padding-left: 5rem;
    @media screen and (max-width: 800px) {
        padding-left: 1.5rem;
    }
}

/* ### Contact Form */
@import 'scss/contact-form';


/* ### Main-header */
@import 'scss/main-header';


/* ### Footer */
@import 'scss/footer';




/* ============= */
/*     PAGES     */
/* ============= */


/* Homepage */
/* ======== */
@import 'scss/homepage';

/* Page single */
/* =========== */
@import 'scss/single';


/* Page Recherche */
/* ============== */
@import 'scss/recherche';


/* Page calendrier */
/* =============== */
@import 'scss/calendar';

/* Page formateurs */
/* =============== */
@import 'scss/formateurs';
